*{
  margin: 0;
  padding: 0;
}

body {
    font-family: "helvetica"
}
.horizontal{
  overflow: auto;
  background-image: linear-gradient(to top, #696969, rgba(0,0,0,1));
}
.horizontal ul{
  list-style: none;
}
.horizontal ul li{
  float: left;

}
.horizontal ul li a{
  display: block;
  color: white;
  padding: 14px;
  text-decoration: none;
}
.horizontal ul li a:hover{
  background-color: black;
  color: white;
}
.active{
  background-color: black;
}
.titulo{
  overflow: auto;
  background-color:white ;
}
.titulo h1{
  float: left;
  font-family: fontawesome;
  margin: 15px;
}
.titulo a{
  float: right;;
  font-family: fontawesome;
  margin: 15px;
  text-decoration: none;
  color: black;
}

.sumir{
  display: none;
}

.ativo{
  display: inline;
}



.box {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.blue {
    background-color: #add8e6;
    color: #f0f8ff;
}

.red {
    background-color: #e9967a;
    color: #f0f8ff;
}

h1 {
    color: #3F3F3F;
}

.h-bar {
    min-height: 15px;
    min-width: 10px;
    background-color: steelblue;
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;

}

.customize{
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4682b4;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}

div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.code {
    font-family: "menlo";
    font-size: 0.9em;
}
